# ESP32-CAM units have a SPIRAM chip, required for the camera component
CONFIG_ESP32_SPIRAM_SUPPORT=y

# ESP32-CAM units have 4Mb flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Certificates and configuration stored on SD card
CONFIG_ESPCAM_AWS_CERTS_SD=y

# Use SPIRAM where possible, not a lot of memory for all these toys
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y