menu "EspCam Configuration"

    config ESPCAM_WIFI_SSID
        string "Network ESSID"
        default "ESSID"
        help
            The SSID of the WiFi network to connect to

    config ESPCAM_WIFI_SECRET
        string "Network WPA2 Key"
        default "secret"
        help
            The secret

   config ESPCAM_AWS_IOT_ENDPOINT
        string "Hostname of the IOT endpoint"
        default "localhost"
        help
            Enter the hostname of the device data endpoint from your AWS IoT account
endmenu